<footer>
    <!-- Footer -->
<div id="footer">
        <!-- hitwebcounter Code -->
        <img src="http://hitwebcounter.com/counter/counter.php?page=6250834&style=0024&nbdigits=5&type=page&initCount=0" border="0">
</div>
    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.scrollzer.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
</footer>
