<!-- This is for Dr. Chien-fei Chen's Personal Website: huqinran.com -->

<head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta charset="utf-8">
    <meta name=Author content="Qirnan Hu">
    <meta name="keywords" content="Chen, Chien-fei, power systems, demand response, behavioral analysis, Tennessee, China, Washington, psychology">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Header -->
    <div id="header">
        <!-- Logo -->
        <div id="logo"> <img src="assets/img/favicon_Large.png" alt="QHu's Logo" style="width:100px;height:100px;">
            <br>
            <p>Dr. Chien-fei Chen</p>
        </div>
        <!-- Nav -->
        <div id="nav">
            <p><a href="/index.html"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a></p>
            <p><a href="/research.html"><i class="fa fa-flask fa-fw"></i>&nbsp;Research</a></p>
            <p><a href="/professionalexperience.html"><i class="fa fa-institution fa-fw"></i>&nbsp;Professional Experience</a></p>
            <p><a href="/publication.html"><i class="fa fa-book fa-fw"></i>&nbsp;Publication</a></p>
            <p><a href="/talks.html"><i class="fa fa-comments fa-fw"></i>&nbsp;Talks</a></p>
            <p><a href="/lab.html"><i class="fa fa-newspaper-o fa-fw"></i>&nbsp;Lab Group</a></p>
        </div>
        <br> search this site
        <form method=GET action="http://www.google.com/search">
            <input type=text name=q value="">
            <input type=submit value="Search">
            <input type=hidden name=sitesearch value="http://huqinran.com"> </form>
        <div id="time">
            <p>updated on December 14, 2016</p>
            <p>&copy 2016 Q. Hu</p>
        </div>
    </div>
    <!--Update date-->
</head>
