<!-- This is for Dr. Chien-fei Chen's Personal Website: huqinran.com -->

<head>
    <link rel="shortcut icon" href="/Untitled.ico" />
    <meta charset="utf-8">
    <meta name=Author content="Qirnan Hgitu">
    <meta name="keywords" content="Chen, Chien-fei, power systems, demand response, behavioral analysis, Tennessee, China, Washington, psychology">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Header -->
    <div id="header">
        <!-- Logo -->
        <div id="logo"> <img src="assets/img/Untitled.png" alt="Simple c logo" style="width:100px;height:100px;border:0">
            <br>
            <p>Chien-fei Chen Ph.D.</p>
        </div>
        <!-- Nav -->
        <div id="nav" class="navigation">
            <p><a href="/index.html"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a></p>
            <p><a href="/research.html"><i class="fa fa-flask fa-fw"></i>&nbsp;Research</a></p>
            <p><a href="/professionalservices.html"><i class="fa fa-institution fa-fw"></i>&nbsp;Professional Service</a></p>
            <p><a href="/advising.html"><i class="fa fa-institution fa-fw"></i>&nbsp;Advising Experience</a></p>
            <p><a href="/publication.html"><i class="fa fa-book fa-fw"></i>&nbsp;Journal Publications</a></p>
            <p><a href="/conference.html"><i class="fa fa-book fa-fw"></i>&nbsp;Conference Publications</a></p>
            <p><a href="/presentations.html"><i class="fa fa-comments fa-fw"></i>&nbsp;Invited Talks</a></p>
            <p><a href="/lab.html"><i class="fa fa-user fa-fw"></i>&nbsp;Research Group</a></p>
        </div>

        <div id="time">
            <p>updated on December 5, 2017</p>
            <p>&copy; 2016 Q. Hu</p>
        </div>
    </div>
    <!--Update date-->
</head>
